{% extends 'kakeibo/base.html' %}
{% load humanize %}
{% block content %}

<div class="month-pager">
  <a href="{% url 'kakeibo:month_dashboard' prev_year prev_month %}">
    前月
  </a>
  <span class="ml-4 mr-4">{{ year_month }}</span>
  <a href="{% url 'kakeibo:month_dashboard' next_year next_month %}">
    次月
  </a>
</div>

{% autoescape off %}
<div class="month-dash-page-top mt-4">
  <div class="left card">
    <table class="table">
      <tr>
        <th>カテゴリ</th>
        <th>金額</th>
      </tr>
      <!--keyはindexカラムに指定したカテゴリ、valueはpriceカラムのカテゴリごとの金額-->
      {% for key,value in table_set_pay.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value|intcomma }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>支出合計</td>
        <td>{{ total_payment|intcomma }}</td>
      </tr>
      <tr>
        <td>収入合計</td>
        <td>{{ total_income|intcomma }}</td>
      </tr>
      <tr class="result-month">
        <td>月間収支</td>
        <td>{{ total_savings|intcomma }}</td>
      </tr>
    </table>
  </div>
  <div class="right ml-4 hidden_toolbar">
    {{ plot_pie }}
  </div>
</div>
<div class="month-dash-bottom">
  {{ plot_bar }}
</div>
{% endautoescape %}

{% endblock %}

{% block extrajs %}
<!-- plotlyのjs -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
